@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #101624;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

#main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 100%;
}

#title {
    font-family: 'Jersey 10', sans-serif;
    font-size: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    margin-top: 50px;
}

.button {
    background-color: #f1c40f;
    color: #101624;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;

    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #101624;
    color: white;
}
